# Dependencias
node_modules/
npm-debug.log
yarn-error.log

# Variables de entorno (¡Nunca subir contraseñas a GitHub!)
.env
.env.local

# Datos de la base de datos de Docker
/db-data/
/pgdata/

# Archivos de sistema
.DS_Store
Thumbs.db

# Builds de React
/frontend/build/
/frontend/dist/
